node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.pnp.cjs
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.next/
**/.next/
out/
**/out/
.next/static/
.next/cache/
.next/server/
.next/server/app/
.next/server/chunks/
.next/server/**/*.json
.next/server/**/*.gz
*.sqlite
*.lock
